/* insert google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* css styles for the body */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.title_color {
    color: #131313;
}

.description_color {
    color: #727272;
}

.button_color {
    color: #FFF;
}

img {
    width: 100%;
    filter: grayscale(1);
}

img:hover {
    filter: grayscale(0);
}

/* header section styles */
header {
    background-color: #FF900E1A;
    width: 100%;
}

header nav .navbar {
    padding: 50px 200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

header nav .navbar h3 {
    text-align: center;
    font-size: 2.81rem;
    font-weight: 700;
    cursor: pointer;
}

header nav .navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
}

header nav .navbar ul li {
    padding-right: 30px;
}

header nav .navbar ul li a {
    text-decoration: none;
    color: #424242;
}

header nav .navbar ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid #424242;
}

header nav .navbar ul li:last-child {
    padding-right: 0px;
}

/* hero section styles */
.hero {
    text-align: center;
}

.hero h3 {
    width: 90%;
    margin: 0px auto 20px;
    font-size: 4rem;
    font-weight: 700;
}

.hero p {
    width: 868px;
    margin: 0px auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

button,
.experience {
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin-bottom: 50px;
    font-size: 1.25rem;
    font-weight: 600;
}

button:hover {
    background: #ff8f0e00;
    border: 3px solid #FF900E;
    color: #FF900E;
    cursor: pointer;
}

.hero img {
    width: 80%;
    margin: 0px auto 50px;
    border-radius: 8px;
}

/* features section styles */
.features {
    width: 80%;
    margin: 0px auto 130px;
    display: flex;
}

.freatures_img {
    width: 50%;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 0px 76px 0px 60px;
}

.freatures_img img {
    height: auto;
}

.features_details h3 {
    width: 468px;
    font-size: 2.81rem;
    font-weight: 700;
    margin-bottom: 24px;
    padding-top: 100px;
}

.features_details p {
    width: 420px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin-bottom: 40px;
}

/* features you love section */
.features_details_section .text {
    width: 90%;
    margin: 85px auto 0px;
    display: flex;
    justify-content: space-between;
}

.features_details_section .text .details_text {
    margin-right: 30px;
}

.features_details_section .text .details_text .text_titile {
    width: 468px;
    font-size: 2.81rem;
    font-weight: 700;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}

.features_details_section .text .details_text .card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 30px 0px 0px 30px;
}

.features_details_section .text .details_text .card_descprition,
.features_details_section .text .details_text p {
    width: 440px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
    padding: 0px 30px 0px 30px;
}

.features_details_section .text .details_text p {
    width: 500px;
    text-align: justify;
    padding-left: 0px;
}

.features_details_section .text .details_text .card {
    width: 500px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #0000000f;
    margin: 0px 0px 20px 0px;
}

.features_details_section .text .details_img img {
    width: auto;
    height: 900px;
}

.experience {
    width: 250px;
    height: 100px;
    padding: 40px 45px;
    text-align: center;
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 40px;
    padding: 30px 30px;
    position: relative;
    left: 580px;
    bottom: 320px;
}

.experience span {
    font-size: 4.06rem;
    font-weight: 700;
    line-height: 70px;
}

/* facts and stats section styles */
.facts {
    width: 80%;
    margin: 0px auto 130px;
}

.facts .facts_title {
    font-size: 2.81rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts .facts_description {
    width: 542px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 100px;
}

.facts .facts_card {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.facts .facts_card .facts_card_box {
    border: 1px solid #FF900E;
    padding: 20px 30px;
}

.facts .facts_card .facts_card_box img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.facts .facts_card .facts_card_box h3 {
    color: #424242;
    font-size: 2.81rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.facts .facts_card .facts_card_box p {
    font-size: 1.25rem;
    font-weight: 600;
}




/* styles for small devices */
@media screen and (max-width: 576px) {
    header nav .navbar {
        flex-direction: column;
        padding: 50px;
        margin: 0 auto;
    }

    header nav .navbar h3 {
        margin-bottom: 20px;
    }

    .hero p {
        width: 90%;
        margin: 0px auto 20px;
    }

    .features {
        flex-direction: column;
        margin: 80px auto 130px;
    }

    .freatures_img {
        width: 100%;
        margin: 0px;
        padding: 0px;
        gap: 15px;
    }

    .features_details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features_details h3 {
        width: 90%;
        text-align: center;
    }

    .features_details p {
        width: 95%;
    }

    .features_details_section .text {
        flex-direction: column;
        width: 100%;
    }

    .features_details_section .text .details_text .text_titile {
        width: 90%;
    }

    .features_details_section .text .details_text p,
    .features_details_section .text .details_text .card {
        width: 90%;
        padding-left: 10px;
    }

    .features_details_section .text .details_text .card {
        width: 95%;
        height: 250px;
    }

    .features_details_section .text .details_text .card_descprition{
        width: 80%;
    }

    .features_details_section .text .details_img img {
        width: 90%;
        height: auto;
        margin-left: 29px;
    }

    .experience {
        width: 150px;
        height: 100px;
        left: 2px;
        bottom: 200px;
        font-size: 1rem;
        padding: 10px;
    }

    .experience span {
        font-size: 2.06rem;
    }

    .facts .facts_description {
        width: 100%;
    }

    .facts .facts_card {
        flex-direction: column;
        padding: 10px 5px;
    }
    
    .facts .facts_card .facts_card_box {
        margin-bottom: 20px;
    }

}

/* styles for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header nav .navbar {
        flex-direction: column;
        padding: 50px;
        margin: 0 auto;
    }

    header nav .navbar h3 {
        margin-bottom: 20px;
    }

    .hero p {
        width: 90%;
        margin: 0px auto 20px;
    }

    .features {
        flex-direction: column;
        margin: 80px auto 130px;
    }

    .freatures_img {
        width: 100%;
        margin: 0px;
        padding: 0px;
        gap: 15px;
    }

    .features_details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features_details h3 {
        width: 90%;
        text-align: center;
    }

    .features_details p {
        width: 95%;
    }

    .features_details_section .text {
        flex-direction: column;
    }

    .features_details_section .text {
        flex-direction: column;
        width: 100%;
    }

    .features_details_section .text .details_text .text_titile {
        width: 90%;
    }

    .features_details_section .text .details_text p,
    .features_details_section .text .details_text .card {
        width: 90%;
        padding-left: 10px;
    }

    .features_details_section .text .details_text .card {
        width: 95%;
        height: 180px;
    }

    .features_details_section .text .details_text .card_descprition {
        width: 80%;
    }

    .features_details_section .text .details_img img {
        width: 90%;
        height: auto;
        margin-left: 29px;
    }

    .experience {
        width: 150px;
        height: 100px;
        left: 73%;
        bottom: 200px;
        font-size: 1rem;
        padding: 10px;
    }

    .experience span {
        font-size: 2.06rem;
    }
}