/* insert google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* css styles for the body */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.title_color {
    color: #131313;
}

.description_color {
    color: #727272;
}

.button_color {
    color: #FFF;
}

/* header section styles */
header {
    background-color: #FF900E1A;
    width: 100%;
}

header nav .navbar {
    padding: 50px 200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

header nav .navbar h3 {
    text-align: center;
    font-size: 2.81rem;
    font-weight: 700;
    cursor: pointer;
}

header nav .navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
}

header nav .navbar ul li {
    padding-right: 30px;
}

header nav .navbar ul li a {
    text-decoration: none;
    color: #424242;
}

header nav .navbar ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid #424242;
}

header nav .navbar ul li:last-child {
    padding-right: 0px;
}

/* hero section styles */
.hero {
    text-align: center;
}

.hero h3 {
    width: 90%;
    margin: 0px auto 20px;
    font-size: 4rem;
    font-weight: 700;
}

.hero p {
    width: 868px;
    margin: 0px auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.hero button {
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin-bottom: 50px;
    font-size: 1.25rem;
    font-weight: 600;
}

.hero button:hover {
    background: #ff8f0e00;
    border: 3px solid #FF900E;
    color: #FF900E;
}

.hero img {
    width: 80%;
    margin: 0px auto 50px;
    border-radius: 8px;
}


/* styles for small devices */
@media screen and (max-width: 576px) {
    header nav .navbar {
        flex-direction: column;
        padding: 50px;
        margin: 0 auto;
    }

    header nav .navbar h3 {
        margin-bottom: 20px;
    }

    .hero p {
        width: 90%;
        margin: 0px auto 20px;
    }
}

/* styles for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header nav .navbar {
        flex-direction: column;
        padding: 50px;
        margin: 0 auto;
    }

    header nav .navbar h3 {
        margin-bottom: 20px;
    }

    .hero p {
        width: 90%;
        margin: 0px auto 20px;
    }
}